ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: green;
}
#app {
  position: relative;
  margin-top: 60px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  .ulBox {
    display: flex;
    justify-content: center;
    align-items: center;
  
    li {
      position: relative;
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      color: green;
      transition: all 300ms;
      &::before {
        position: absolute;
        left: 100%;
        top: 0;
        border-bottom: 2px solid transparent;
        width: 0;
        height: 100%;
        content: "";
        transition: all 300ms;
      }
      &:active {
        background-color: green;
        color: #fff;
      }
      &:hover {
        a {color: #52CC00;}
        &::before {
          left: 0;
          top: 0;
          z-index: -1;
          border-bottom-color: #52CC00;
          width: 100%;
          transition-delay: 100ms;
        }
        & + li::before {
          left: 0;
        }
      }
    }
  }
  .contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}